*.class

# Package Files #
*.jar
*.war
*.ear
/Standalone-Hibernate-JPA/target/
/Container-Dependent-Application/target/
/Container-Dependent-Application/nbactions.xml
/Spring-Standalone-Application/target/
/Spring-IoC-Container/target/
/Retrieving-Hibernate-Session/target/
/Simple-Spring-Web-Application/target/
/Simple-Spring-Web-Application/nbactions.xml
/Spring-JSP-Example/nbactions.xml
/Spring-JSP-Example/target/
/Spring-MVC-Web-Application/nbactions.xml
/Spring-MVC-Annotations/target/
/Spring-MVC-With-Annotations/target/