*.class

# Package Files #
*.jar
*.war
*.ear
/Standalone-Hibernate-JPA/target/
/Container-Dependent-Application/target/
/Container-Dependent-Application/nbactions.xml
/Spring-Standalone-Application/target/
/Spring-IoC-Container/target/
/Retrieving-Hibernate-Session/target/
/Simple-Spring-Web-Application/target/
/Simple-Spring-Web-Application/nbactions.xml
/Spring-JSP-Example/nbactions.xml
/Spring-JSP-Example/target/
/Spring-MVC-Web-Application/nbactions.xml
/Spring-MVC-Annotations/target/
/Spring-MVC-With-Annotations/target/
/Spring-JPA-Web-Application/target/
/Spring-JPA-Roundtrip/target/
/Spring-Web-JPA-Roundtrip/target
/Spring-MVC-Service-DAO-Persistence-Architecture/target/
/Spring-Web-JPA-Testing/target/
/Spring-MVC-Testing/target/
/Spring-MVC-Ajax-JSON/target/
/Spring-MVC-JUnit-Testing/target/
/Spring-Sitemesh-Integration/target/
/Spring-MVC-Login-Logout/target/
/Spring-MVC-Login-Logout-2/target/
/Spring-MVC-Login-Logout-3/target/
/Spring-Security-And-Annotation-Config/target/
/Spring-Logging-Dependencies/target/
/Spring-FreeMarker-Integration/target/