*.class

# Package Files #
*.jar
*.war
*.ear
/Standalone-Hibernate-JPA/target/
/Container-Dependent-Application/target/
/Container-Dependent-Application/nbactions.xml
/Spring-Standalone-Application/target/
/Spring-IoC-Container/target/
/Retrieving-Hibernate-Session/target/
/Simple-Spring-Web-Application/target/
/Simple-Spring-Web-Application/nbactions.xml
/Spring-JSP-Example/nbactions.xml
/Spring-JSP-Example/target/
/Spring-MVC-Web-Application/nbactions.xml
/Spring-MVC-Annotations/target/
/Spring-MVC-With-Annotations/target/
/Spring-JPA-Web-Application/target/
/Spring-JPA-Roundtrip/target/
/Spring-Web-JPA-Roundtrip/target
/Spring-MVC-Service-DAO-Persistence-Architecture/target/
/Spring-Web-JPA-Testing/target/
/Spring-MVC-Testing/target/
/Spring-MVC-Ajax-JSON/target/
/Spring-MVC-JUnit-Testing/target/
/Spring-Sitemesh-Integration/target/
/Spring-MVC-Login-Logout/target/
/Spring-MVC-Login-Logout-2/target/
/Spring-MVC-Login-Logout-3/target/
/Spring-Security-And-Annotation-Config/target/
/Spring-Logging-Dependencies/target/
/Spring-FreeMarker-Integration/target/
/Spring-Returning-A-JSON/target/
/Spring-MVC-Form-Validation/target/
/Spring-REST-With-Ajax/target/
/Spring-Fetching-JSON-With-Ajax/target/
/Spring-Serving-Static-Resources/target/
/Spring-Return-Error-In-Ajax/target/
/Spring-REST-Without-Ajax/target/
/Spring-MVC-Error-Handling/target/
/Customizing-Spring-Security/target/
/Spring-Server-Side-REST-Calls/target/
/Spring-REST-With-HTML-Only/target/
/Spring-MVC-Internationalization/target/
/Spring-Configuration-Service/target/
/Spring-Selenium-Test/target/
/Spring-MVC-Retrieve-Get-URL-Parameters/target/
/Spring-MVC-In-Memory-Security/target/
/Spring-MVC-User-Registration/target/
/Spring-MVC-The-Full-Monty/README.md
